go 1.23.2

use (
	./data-structures/common
	./data-structures/linked-list
	./data-structures/simple-queue
	./data-structures/simple-stack
	./dp/can-sum
	./dp/fib
	./dp/grid-traveler
	./dp/how-sum
	./graph
	./graph/bfs
	./graph/dfs
	./graph/has-path
)
